---
import { getCollection, getEntry, render } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);

const intro = await getEntry('blog', 'hello_world');
const { Content: IntroContent } = await render(intro!);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="text-base-content w-2/3">
			<h1 class="mb-8">{SITE_TITLE}</h1>
			<IntroContent />
			<h2 class="mt-16">Recent posts</h2>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>{' '}
							<small>
								<FormattedDate date={post.data.pubDate} />
							</small>
						</li>
					))
				}
			</ul>
			<p><a href="/blog">All posts →</a></p>
		</main>
		<Footer />
	</body>
</html>
